@import 'styles/button', 'styles/chat'

$font-stack:    Calibri, Helvetica, sans-serif
$primary-color: #4a4a4a

*
    font: 100% $font-stack
    color: $primary-color

.header 
    text-align: center
    margin: 2%

.title
    display: inline-block
    font-weight: bold

button
    width: 18%
    position: absolute
    right: 2%

    &.btn-logout
        top: 1.5%