<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1 class="title">{{ title }}</h1>
  <button class="btn-logout">Log out</button>
</div>

<div class="chat">  
 
  <div class="message-block">
    <div class="message left">
      Hi Ken,
      I just sent the document to you on mail.
      Plz check it!      
    </div>  
    <div class="sender">May</div>
  </div>

  <div class="clearfix"></div>
  <div class="message-block right">
    <div class="message right">
      Thank you May!
      It was great.      
    </div>  
    <div class="sender">You</div>
  </div>

  <div class="clearfix"></div>
  <div class="message-block right">
      <div class="message right">
        I just checked it.
        Thanks!      
      </div>  
      <div class="sender">You</div>
  </div>

  <div class="clearfix"></div>
  <div class="message-block">
    <div class="message left">
      Hi guys, what's up?    
    </div>  
    <div class="sender">Mark</div>
  </div>

  <div class="message-block">
    <div class="message left">
      Hi Mark, I stay Cebu now    
    </div>  
    <div class="sender">April</div>
  </div>
  
</div>

<div class="chat-box">
  <form>
      <input id="input-message" type="text" placeholder="Start a new message" autofocus>
      <button class="btn-send">Send</button>
  </form>
</div>

<router-outlet></router-outlet>
